@page
@model asp_presentacion.Pages.Ventanas.Historiales_ClinicosModel
@{
    ViewData["Titulo"] = "Historiales_Clinicos";
    ViewData["MostrarLogo"] = true;
    var rol = HttpContext.Session.GetString("Rol");

}
<center>
    <div>
        <form method="POST"
        enctype="multipart/form-data">
            @Html.AntiForgeryToken()

            <div align="left">
                <h3>Historiales Clinicos</h3>
            </div>
            <div align="left"
            class="bt_panel_buttons">
                <input type="submit"
                value="Buscar"
                asp-page-handler="BtRefrescar"
                class="btn btn-secondary"
                disabled="@(Model.Accion != lib_dominio.Nucleo.Enumerables.Ventanas.Listas)" />
                @if (rol != "Cliente")
                {
                    <input type="submit"
                    value="Nuevo"
                    asp-page-handler="BtNuevo"
                    class="btn btn-secondary"
                    disabled="@(Model.Accion != lib_dominio.Nucleo.Enumerables.Ventanas.Listas)" />
                    <input type="submit"
                    value="Guardar"
                    asp-page-handler="BtGuardar"
                    class="btn btn-secondary"
                    disabled="@(Model.Accion == lib_dominio.Nucleo.Enumerables.Ventanas.Listas)" />
                    <input type="submit"
                    value="Cancelar"
                    asp-page-handler="BtCancelar"
                    class="btn btn-secondary"
                    disabled="@(Model.Accion == lib_dominio.Nucleo.Enumerables.Ventanas.Listas)" />
                }
            </div>

            @if (Model.Accion != lib_dominio.Nucleo.Enumerables.Ventanas.Listas ||
                Model.Accion == lib_dominio.Nucleo.Enumerables.Ventanas.Borrar)
            {
                <input type="hidden"
                asp-for="@Model.Actual!.Id" />
            }
            @if (Model.Accion == lib_dominio.Nucleo.Enumerables.Ventanas.Borrar)
            {
                <input type="hidden"
                asp-for="@Model.Actual!.Id" />
                <input type="hidden"
                asp-for="@Model.Actual!.Codigo" />
                <input type="hidden"
                asp-for="@Model.Actual!.Fecha" />
                <input type="hidden"
                asp-for="@Model.Actual!.Cliente" />
                <input type="hidden"
                asp-for="@Model.Actual!.Formula" />
                <input type="hidden"
                asp-for="@Model.Actual!.Veterinario" />
            }

            @if (Model.Accion == lib_dominio.Nucleo.Enumerables.Ventanas.Editar)
            {
                <div class="containers_vn panel panel-default">
                    <h3>Historiales_Clinicos</h3>

                    <div>
                        <div class="form-group">
                            <label class="col-lg-4 control-label">
                                Codigo
                            </label>
                            <div class="col-lg-6">
                                <input id="nmCodigo"
                                class="cts_forms form-control"
                                asp-for="@Model.Actual!.Codigo" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-4 control-label">
                                Fecha
                            </label>
                            <div class="col-lg-6">
                                <input id="nmFecha"
                                class="cts_forms form-control"
                                asp-for="@Model.Actual!.Fecha" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-4 control-label">
                                Cliente
                            </label>
                            <div class="col-lg-6">
                                <select id="nmCliente"
                                class="form-control"
                                asp-for="@Model.Actual!.Cliente"
                                asp-items="@(new SelectList(Model.Clientes, "Id", "Documento"))">
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-4 control-label">
                                Formula
                            </label>
                            <div class="col-lg-6">
                                <select id="nmFormula"
                                class="form-control"
                                asp-for="@Model.Actual!.Formula"
                                asp-items="@(new SelectList(Model.Formulas, "Id", "Codigo"))">
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-4 control-label">
                                Veterinario
                            </label>
                            <div class="col-lg-6">
                                <select id="nmVeterinario"
                                class="form-control"
                                asp-for="@Model.Actual!.Veterinario"
                                asp-items="@(new SelectList(Model.Veterinarios, "Id", "Documento"))">
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            }
            @if (ViewData.ContainsKey("Mensaje"))
            {
                <input type="hidden"
                asp-for="@Model.Accion" />
                @await Html.PartialAsync("../Emergentes/Mensajes.cshtml")
                ;
            }

            @if (Model.Accion == lib_dominio.Nucleo.Enumerables.Ventanas.Borrar)
            {
                <div class='popup'>
                    <div class='pp_del_inner'>
                        <div style='width:95%'>
                            <h2>
                                Mensaje
                            </h2>

                            <h4>
                                Desea borrar los datos con el codigo:
                            </h4>
                            <h6>
                                @Model.Actual!.Codigo
                            </h6>
                            <h4>del cliente:</h4>
                            <h6>
                                @Model.Actual!._Cliente!.Documento
                            </h6>
                            <br />
                            <br />
                            <input type="submit"
                            value="Borrar"
                            asp-page-handler="BtBorrar"
                            class="btn btn-secondary" />
                            <input type="submit"
                            value="Cerrar"
                            asp-page-handler="BtCancelar"
                            class="btn btn-secondary" />
                        </div>
                    </div>
                </div>
            }
            @if (Model.Accion == lib_dominio.Nucleo.Enumerables.Ventanas.Listas ||
            Model.Accion == lib_dominio.Nucleo.Enumerables.Ventanas.Borrar)
            {
                <br />
                <input id="flCodigo"
                class="cts_forms form-control"
                asp-for="@Model.Filtro!.Codigo"
                placeholder="Buscar por codig de la formula" />
                <br />

                <div class="containers_vn panel panel-default">
                    <table class="tb_data table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Codigo</th>
                                <th>Fecha</th>
                                <th>Cliente</th>
                                <th>Formula</th>
                                <th>Veterinario</th>
                                @if (rol != "Cliente")
                                {
                                    <th>Acción</th>
                                }
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.Lista != null && Model.Lista.Any())
                            {
                                foreach (var elemento in Model.Lista)
                                {
                                    <tr>
                                        <td>@elemento.Codigo</td>
                                        <td>@elemento.Fecha</td>
                                        <td>@elemento._Cliente?.Documento</td>
                                        <td>@elemento._Formula?.Codigo</td>
                                        <td>@elemento._Veterinario?.Documento</td>
                                        @if (rol != "Cliente")
                                        {
                                        <td>
                                            <input type="submit"
                                                   value="Modificar"
                                                   asp-page-handler="BtModificar"
                                                   class="btn btn-warning"
                                                   asp-route-data="@elemento.Id" />
                                            <input type="submit"
                                                   value="Borrar"
                                                   asp-page-handler="BtBorrarVal"
                                                   class="btn btn-danger"
                                                   asp-route-data="@elemento.Id" />
                                        </td>
                                        }
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td colspan="5"><strong>No hay datos disponibles.</strong></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            }
        </form>
    </div>
</center>